body {
	margin: 0;
}
.ui {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
}
.game {
	position: relative;
	height: 100vh;
	backface-visibility: visible;
	perspective-origin: 50% 0;
	transform-style: preserve-3d;
	perspective: 900px;
}
.rotate {
	transform-style: preserve-3d;
}
.ground {
	position: absolute;
	left: 50%;
	width: 500px;
	height: 500px;
	transform-style: preserve-3d;
}
.translate {
	position: absolute;
	left: 50%;
	width: 500px;
	height: 500px;
	transform-style: preserve-3d;
}
.player {
	background: url('player.png');
	width: 30px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.guy {
	background: url('player.png');
	position: absolute;
	width: 30px;
	height: 50px;
}
.building {
	background: url('tree.png');
	position: absolute;
}
.puddle {
	position: absolute;
	border-radius: 50%;
}
.bomb {
	position: absolute;
	border-radius: 50%;
}
.shrapnel {
	position: absolute;
	border-radius: 50%;
}
.ui {
	position: absolute;
	left: 50%;
}
.drone {
	position: absolute;
	background: gray;
	width: 40px;
	height: 40px;
}
.propeller {
	position: absolute;
	background: black;
	width: 4px;
	height: 40px;
}
.propeller:first-child {
	left: 0;
	top: 0;
}
.propeller:nth-child(2) {
	left: 100%;
	top: 0;
}
.propeller:nth-child(3) {
	left: 0;
	top: 100%;
}
.propeller:nth-child(4) {
	left: 100%;
	top: 100%;
}
